@{
	Layout = "_Layout";
}

<h1>Admin Dashboard</h1>

<p><a asp-controller="Admin" asp-action="GetKnives">View Products</a></p>

<p><a asp-controller="Admin" asp-action="GetKnives">View Products</a></p>
<p><a asp-controller="Admin" asp-action="UpdateKnife">Update Product</a></p>