@model KnifeStore.Models.ViewModels.LoginViewModel

@{
    Layout = "_Layout";
}

<h2>Login to Your Account</h2>

<form asp-action="Login" method="post">

    <div>
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" type="text" />
    </div>

    <div>
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" type="password" />
    </div>

    <div>
        <button type="submit">Login</button>
    </div>

</form>
