@model KnifeStore.Models.ViewModels.LoginViewModel

@using Microsoft.AspNetCore.Identity;
@using KnifeStore.Models

@{
    Layout = "_Layout";
}

@inject SignInManager<ApplicationUser> SignInManager

<h2>Login to Your Account</h2>

<form asp-action="Login" method="post">

    <div>
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" type="text" />
    </div>

    <div>
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" type="password" />
    </div>

    <div>
        <button type="submit">Login</button>
    </div>

    @{
        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
        @foreach (var provider in loginProviders)
        {
            <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>

        }
    }
</form>


