@model KnifeStore.Models.ViewModels.RegisterViewModel

<form asp-action="Register" method="post">
    
    <label asp-for="FirstName">First Name:</label>
    <input asp-for="FirstName" type="text" placeholder="enter your first name" />

    <label asp-for="LastName">Last Name:</label>
    <input asp-for="LastName" type="text" placeholder="enter your last name" />

    <label asp-for="Email">Email:</label>
    <input asp-for="Email" type="email" placeholder="example@somethingknifey.com" />

    <label asp-for="Password">Password:</label>
    <input asp-for="Password" type="password" />
    
    <label asp-for="ConfirmPassword">Re-enter your password:</label>
    <input asp-for="ConfirmPassword" type="password" />

    <button type="submit">Complete Registration</button>

</form>