@model KnifeStore.Models.ViewModels.RegisterViewModel

<form asp-action="Register" method="post">
    
    <label for="FirstName">First Name:</label>
    <input type="text" name="FirstName" placeholder="enter your first name" />

    <label for="LastName">Last Name:</label>
    <input type="text" name="LastName" placeholder="enter your last name" />

    <label for="Email">Email:</label>
    <input type="email" name="Email" placeholder="example@somethingknifey.com" />

    <label for="Password">Password:</label>
    <input type="password" name="Password" />
    
    <label for="ConfirmPassword">Re-enter your password:</label>
    <input type="password" name="ConfirmPassword" />

</form>