<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container fluid">
		<h3>This is the Home Controller Index Nav</h3>
		<ul>
			<li class="btn btn-lg">button1</li>
			<li class="btn-danger">button2</li>
			<li class="warning">button3</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm" style="background-color: blue;">
			<h1>This is the Home Controller Index1</h1>
			<button class="btn btn-lg">button1</button>
			<button class="btn-danger">button2</button>
			<button class="btn-warning">button3</button>
		</div>

		<div class="col-sm">
			<h1>This is the Home Controller Index2</h1>
			<button class="btn btn-lg">button1</button>
			<button class="btn-danger">button2</button>
			<button class="btn-warning">button3</button>
		</div>

		<div class="col-sm" style="background-color: red;">
			<h1>This is the Home Controller Index3</h1>
			<button class="btn btn-lg">button1</button>
			<button class="btn-danger">button2</button>
			<button class="btn-warning">button3</button>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>