@{
	Layout = "_Layout";
}

<body>

	<div style="position: relative">
		<div class="container align-middle" style="text-align: center; top: 50%">
			<h2 style="font-family: 'Pacifico', cursive; padding-bottom: 20px">For all your cutlery needs</h2>
			<img class="mx-auto d-block" src="~/Assets/knives.jpeg" /><br />
			<a asp-action="ViewAllProducts" asp-controller="UserShop">Browse</a>
			<h3 style="font-family: 'Pacifico', cursive">Don't have an account yet? Register <a href="~/account/register">here</a>.</h3>

			<a asp-action="Index" asp-controller="Admin">Fake Admin Button</a>
		</div>
	</div>

</body>

